name: Publish Docker image  
on:   
  push:
    branches:  
      - 'master'
    tags:       
      - '*'
jobs: 

  push_to_registry:  
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest   

    steps:  
      - name: Check out the repo
        uses: actions/checkout@v2   

      - name: Log in to Docker Hub
        run: docker login --username=shw0n0 --password=snsdSNSD1028
      - name: Build and push Docker image
        run: |
          docker build -t shw0n0/getting-test:latest .
          docker push shw0n0/getting-test
            
      - name: Checkout Helm repository      
        uses: actions/checkout@v2
        with:
          repository: ShawnYang-95/helm-charts
          ref: master
          path: todo

      - name: Update image version in value.yaml
        run: |
          cd todo
          sed -i '/frontend:/,/service:/s/\(tag:\s*\).*/\1latestes/' values.yaml
          git config --global user.email "1758010923@qq.com"
          git config --global user.name "ShawnYang-95"
          git add values.yaml
          git commit -m "Update image version to latest"
          git push https://${{ secrets.GITHUB_TOKEN }}@github.com/ShawnYang-95/helm-charts.git master


