name: Publish Docker image  

on:   
  push:
    branches:  
      - 'master'
    tags:       
      - '*'

jobs: 

  push_to_registry:  
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest   

    steps:  
      - name: Check out the repo
        uses: actions/checkout@v2   

      - name: Log in to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: shw0n0
          password: snsdSNSD1028

      - name: Build and push Docker image
        run: |
          docker build -t getting-test:latest .
          docker push shw0n0/getting-test:latest
          
