name: Publish Docker image  
on:   
  push:
    branches:  
      - 'master'
    tags:       
      - '*'
jobs: 

  push_to_registry:  
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest   

    steps:  
      - name: Check out the repo
        uses: actions/checkout@v2   

      - name: Log in to Docker Hub
        run: docker login --username=shw0n0 --password=snsdSNSD1028
      - name: Build and push Docker image
        run: |
          docker build -t shw0n0/getting-test:latest .
          docker push shw0n0/getting-test
      - name: webhook
        run: |
          curl -XPOST -u "ShawnYang-95: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" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/ShawnYang-95/helm-charts/dispatches --data '{"event_type": "special_repository"}'
