name: Publish Docker image  
on:   
  push:
    branches:  
      - 'master'
    tags:       
      - '*'
jobs: 

  push_to_registry:  
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest   

    steps:  
      - name: Check out the repo
        uses: actions/checkout@v2   

      - name: Log in to Docker Hub
        run: docker login --username=shw0n0 --password=snsdSNSD1028
      - name: Build and push Docker image
        run: |
          docker build -t shw0n0/getting-test:latest .
          docker push shw0n0/getting-test
            
      - name: Checkout Helm repository      
        uses: actions/checkout@v2
        with:
          repository: ShawnYang-95/helm-charts
          ref: master
          path: todo
          persist-credentials: false
          fetch-depth: 0
          
      - name: Update image version in value.yaml
        run: |
          cd todo
          sed -i '/frontend:/,/service:/s/\(tag:\s*\).*/\1latestes/' values.yaml
          
      - uses: GuillaumeFalourd/git-commit-push@v1.3
        with:
          target_branch: master
          files: todo
          commit_message: your_message
          remote_repository: https://github.com/ShawnYang-95/helm-charts
          access_token: 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
          force: true
          empty: true
          tags: true

#           git config -l | grep 'http\..*\.extraheader' | cut -d= -f1 | xargs -L1 git config --unset-all
#           git config --global user.email "1758010923@qq.com"
#           git config --global user.name "ShawnYang-95"
#           git add values.yaml
#           git commit -m "Update image version to latest"
#           git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/ShawnYang-95/helm-charts.git
#           git push origin master


